
//beautified at https://codebeautify.org/scss-beautifier on 4-3-2023

@import "custom.scss";

$container__form-xs: 375;
$container__form-xxl: 1440;
$container__form-xxl-min: 1439;

$font_size: 18px;
$font_weight-normal: 400;
$font_weight-semi-bold: 600;
$container__padding-xxl: 100px;
$container__padding-xs: 15px;

$colors: (
  Strong Cyan: hsl(171, 66%, 44%),
  Light Blue: hsl(233, 100%, 69%),
  Dark Grayish Blue: hsl(210, 10%, 33%),
  Grayish Blue: hsl(201, 11%, 66%),
  White: HSL(180, 1%, 98%)
);
$fallback-colors: (MediumAquamarine LightCyan CadetBlue LightSteelBlue Snow);

@mixin background(
  $url,
  $position: auto,
  $size: auto,
  $repeat: no-repeat,
  $fixed: fixed,
  $color: white
) {
  background: url($url) $position/$size $repeat $fixed $color;
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}

@mixin width($grid-size) {
  width: $grid-size * 1px;
}
@mixin max-width($grid-size) {
  max-width: $grid-size * 1px;
}
@mixin min-width($grid-size) {
  min-width: $grid-size * 1px;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: $font_weight-normal;
}

main {
  overflow: auto;
  width: 100%;
  display: grid;
  min-height: 100vh;
  place-content: center;
  @include bg-color(
    lighten(map-get($colors, Light Blue), 17),
    nth($fallback-colors, 2)
  );
  z-index: 99;

  .container {
    overflow: auto;
    @include padding(0 50px);

    h2,
    h3 {
      font-weight: $font_weight-semi-bold;
    }
    div.row {
      overflow: auto;
      @media screen and (max-width: $container__form-xxl-min * 1px) {
        @include margin(80px 0 0 0);
      }
      @media screen and (min-width: $container__form-xxl * 1px) {
        @include margin(65px 0 0 0);
        @include padding(0 $container__padding-xxl);
      }
    }
    h1,
    h2,
    h3 {
      @include font-color(
        map-get($colors, Dark Grayish Blue),
        nth($fallback-colors, 3)
      );
    }
    p {
      @include font-color(
        map-get($colors, Grayish Blue),
        nth($fallback-colors, 4)
      );
    }
    @media screen and(min-width: $container__form-xxl * 1px) {
      div p:not(h3 + p) {
        width: $container__form-xxl - ($container__padding-xxl * 8);
      }
    }
    button {
      border: none;
      @include border-radius(14px);
      @include margin(15px 0 0 0);
    }
    div button:first-of-type {
      @include bg-color(
        map-get($colors, Strong Cyan),
        nth($fallback-colors, 1)
      );
      box-shadow: 5px 5px 8px lighten(map-get($colors, Strong Cyan), 15);
      &:hover {
        @include bg-color(
          lighten(map-get($colors, Strong Cyan), 5),
          nth($fallback-colors, 1)
        );
      }
    }
    div button:last-of-type {
      @include bg-color(map-get($colors, Light Blue), nth($fallback-colors, 2));
      box-shadow: 5px 5px 8px lighten(map-get($colors, Light Blue), 15);
      &:hover {
        @include bg-color(
          lighten(map-get($colors, Light Blue), 5),
          nth($fallback-colors, 2)
        );
      }
    }
    @include bg-color(map-get($colors, White), nth($fallback-colors, 5));

    header.row:nth-of-type(1) {
      img {
        transform: scale(0.5, 0.5);
        @media screen and (min-width: $container__form-xxl * 1px) {
          transform: scale(0.7, 0.7);
        }
      }
      @include background(
        "https://i.postimg.cc/wTmH7jTX/bg-header-mobile.png",
        $position: top center,
        $size: cover,
        $repeat: no-repeat,
        $fixed: fixed
      );
      @media screen and(min-width:$container__form-xxl * 1px) {
        @include background(
          "https://i.postimg.cc/5y2QqFyk/bg-header-desktop.png",
          $position: top -2em,
          $size: cover,
          $repeat: no-repeat,
          $fixed: fixed
        );
      }

      /*To see the backdrop-filter effect, the header element or its background must be at least partially transparent
		  backdrop-filter is to blur the bottom border of the header background */

      backdrop-filter: blur(10px);
      /*&:after , is to add a pseudo element next to the header , which is given dimensions and is tilted at an angle (skewY) in order to create a wide angled bottom line */
      &:after {
        content: "";
        width: 100%;
        height: 50px;
        background: inherit;
        z-index: -1;
        transform: skewY(4deg);
        opacity: 0.4;
        backdrop-filter: blur(10px);
      }
    }

    div.row:nth-of-type(1) {
      img {
        transform: scale(0.3, 0.3);
        @media screen and (min-width: $container__form-xxl * 1px) {
          transform: scale(0.7, 0.7) translateX(-300px);
        }
      }
    }
    div.row:nth-of-type(2) {
      img {
        transform: scale(0.8, 0.8);
        @media screen and (min-width: $container__form-xxl * 1px) {
          transform: scale(0.6, 0.6);
        }
      }
      @media screen and(min-width: $container__form-xxl * 1px) {
        div p {
          width: $container__form-xxl - ($container__padding-xxl * 9);
        }
      }
    }
    div.row:nth-of-type(3) {
      img {
        transform: scale(0.3, 0.3);
        @media screen and (min-width: $container__form-xxl * 1px) {
          transform: scale(0.4, 0.4);
        }
      }
      div div i {
        transform: scale(2.6, 2.6);
        @include padding(0 0 15px 0);
      }
    }
    div.row:nth-of-type(4) {
      img {
        transform: scale(0.8, 0.8);
        @media screen and (min-width: $container__form-xxl * 1px) {
          transform: scale(0.7, 0.7);
        }
      }
    }
    div.row:nth-of-type(5) {
      @media screen and(min-width: $container__form-xxl * 1px) {
        div p {
          width: $container__form-xxl - ($container__padding-xxl * 8);
        }
      }
    }
    footer.row:nth-of-type(1) {
      @include bg-color(
        lighten(map-get($colors, Grayish Blue), 29),
        nth($fallback-colors, 4)
      );
      img {
        transform: scale(0.2, 0.2);
      }
      a {
        text-decoration: none;
        @include font-color(
          map-get($colors, Dark Grayish Blue),
          nth($fallback-colors, 3)
        );
        &:hover {
          @include font-color(
            map-get($colors, Strong Cyan),
            nth($fallback-colors, 1)
          );
        }
      }
    }
    
    @media screen and (max-width: $container__form-xxl-min * 1px) {
      @include width($container__form-xs);
    }
    @media screen and (min-width: $container__form-xxl * 1px) {
      @include width($container__form-xxl);
    }
  }
}

footer {
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
